body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.content {
    max-width: 1000px;
  margin: 0 auto;
}

.topsticky {
    position: sticky;
    top: 0;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-header {
    margin-bottom: 72px;
}

.big-container {
    margin-left: 12px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: semibold;
    font-size: 64px;
    margin-bottom: 8px;
    margin-left: 12px;
}

p {
    font-family: "Manrope", sans-serif;
}

p.shortinfo {
    margin-top: 0;
    margin-left: 12px;
}

p.role {
    color: rgb(62, 62, 62);
    text-decoration: underline;
}

h2 {
    font-family: "Manrope", sans-serif;
    font-size: 21px;
    font-weight: 400;
}

h3 {
    margin: 0;
    font-size: 64px;
}

.logo {
  transition: transform 0.7s ease;
}

.logo:hover {
  transform: rotate(360deg);
}

a {
    cursor: pointer;
}

a.logolink {
    color: #050505;
    text-decoration: none;
}

button.contact {
    background-color: #fFFFFF;
    color: #050505;
}

button.contact:hover {
    color: #fFFFFF;
    background-color: #050505;
    text-decoration: underline;
    cursor: pointer;
}

button.field:hover {
    background-color: #fFFFFF;
    color: #050505;
}

button.readmore:hover {
    background-color: #050505;
    color: #fFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

button.readmore {
    background-color: #fFFFFF;
    color: #050505;
    margin: 0;
}

button.ofestbutton:hover {
    background-color: #FFC94B;
    color: #050505;
}

button.ofestbutton2:hover {
    background-color: #FA3D51;
    color: #050505;
}

button.auntiebutton:hover {
    background-color: #fff028;
    color: #050505;
}

button.auntiebutton2:hover {
    background-color: #fdfad6;
    color: #050505;
}

button.fraktiobutton:hover {
    background-color: #ee0000;
    color: #050505;
}

button.fraktiobutton2:hover {
    background-color: #FF9494;
    color: #050505;
}

button.hxrcbutton:hover {
    background-color: #00ADB3;
    color: #050505;
}

button.hxrcbutton2:hover {
    background-color: #CF867D;
    color: #050505;
}

button.oranssibutton:hover {
    background-color: #f99100;
    color: #050505;
}

button.oranssibutton2:hover {
    background-color: #FD6A21;
    color: #050505;
}

button.planetbutton:hover {
    background-color: #E175BF;
    color: #050505;
}

button.planetbutton2:hover {
    background-color: #8cbfd8;
    color: #050505;
}

button.arkibutton:hover {
    background-color: #90b9aa;
    color: #050505;
}

button.arkibutton2:hover {
    background-color: #ff6933;
    color: #050505;
}

button.aiskabutton:hover {
    background-color: #F95DB0;
    color: #050505;
}

button.aiskabutton2:hover {
    background-color: #fdeef6;
    color: #050505;
}

button.auributton:hover {
    background-color: #40AADC;
    color: #050505;
}

button.auributton2:hover {
    background-color: #FDB431;
    color: #050505;
}

button.metrokvbutton:hover {
    background-color: #fca884;
    color: #050505;
}

button.metrokvbutton2:hover {
    background-color: #cff3d5;
    color: #050505;
}

button.loviisabutton:hover {
    background-color: #BDD373;
    color: #050505;
}

button.loviisabutton2:hover {
    background-color: #E6E198;
    color: #050505;
}

button.matkabutton:hover {
    background-color: #F26E6E;
    color: #050505;
}

button.matkabutton2:hover {
    background-color: #8CA196;
    color: #050505;
}

button {
    font-family: "Montserrat", sans-serif;
    background-color: #050505;
  border: solid 1px #050505;
  border-radius: 37px;
  color: #fFFFFF;
  padding: 18px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card {
  display: flex;
  align-items: center;   /* vertically aligns items */
  gap: 48px;             /* space between image and text */
  margin-bottom: 28px;
}

.card img {
  width: auto;
  height: auto;
  border-radius: 24px;
}

.text-box {
  max-width: 500px;
}

.othercard {
  display: flex;
  gap: 48px;
  margin-bottom:32px;
}

.othertext-box {
  flex: 1;              /* both boxes take equal width */
  padding-top: 20px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #050505;
    color: #fFFFFF;
  border-radius: 24px;
}

.project-text {
    background-color: #050505;
    color: #fFFFFF;
    border-radius: 24px;
    padding-top: 20px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.projectimages {
    max-width: 450px;
    margin-right: 24px;
}

p.footer {
    font-size: 16px;
    text-transform: uppercase;
}

.footer {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 24px;
}
