body {
    margin: 0;
    font-family: "Archivo", sans-serif;
    font-size: 1.125rem;
}

.content {
    max-width: 1000px;
  margin: 0 auto;
}

.whitespace {
    padding: 64px;
}

.topsticky {
    position: sticky;
    top: 0;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-header {
    margin-bottom: 72px;
}

.big-container {
    margin-left: 12px;
}

h1 {
    font-family: "Archivo", sans-serif;
    font-weight: semibold;
    font-size: 4rem;
    margin-bottom: 8px;
    margin-left: 12px;
}

p {
    font-family: "Archivo", sans-serif;
}

p.shortinfo {
    margin-top: 0;
    margin-left: 12px;
}

p.role {
    color: rgb(62, 62, 62);
    text-decoration: underline;
    margin-top: 0;
}

p.role2 {
    display: inline-block;
    color: rgb(62, 62, 62);
    text-decoration: underline;
    margin-top: 12px;
    margin-right: 24px;
}

h2 {
    font-family: "Archivo", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 12px;
}

h3 {
    margin: 0;
    font-size: 4rem;
}

.logo {
  transition: transform 0.7s ease;
}

.logo:hover {
  transform: rotate(360deg);
}

a {
    cursor: pointer;
}

a.logolink {
    color: #050505;
    text-decoration: none;
}

button.contact {
    background-color: #fFFFFF;
    color: #050505;
}

button.contact:hover {
    color: #fFFFFF;
    background-color: #050505;
    text-decoration: underline;
    cursor: pointer;
}

button.field:hover {
    background-color: #fFFFFF;
    color: #050505;
}

button.readmore:hover {
    background-color: #050505;
    color: #fFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

button.readmore {
    background-color: #fFFFFF;
    color: #050505;
    margin: 0;
}


button {
    font-family: "Archivo", sans-serif;
    background-color: #050505;
  border: solid 1px #050505;
  border-radius: 37px;
  color: #fFFFFF;
  padding: 18px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: 0.4s;
}

.card {
  display: flex;
  align-items: center;   /* dont change this */
  gap: 48px;             /* space between image and text */
  margin-bottom: 28px;
  margin-left: 28px;
  margin-right: 28px;
}

.card.reverse {
    flex-direction: row-reverse;
    gap: 64px;
    padding-left: 64px;
}

.card img {
  max-width: 450px;
  height: auto;
}

.text-box {
  flex: 1;
}

.othercard {
  display: flex;
  gap: 48px;
  margin-bottom:32px;
}

.othertext-box {
  flex: 1;              
  padding-top: 20px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #F2F2F2;
    color: #050505;
  border-radius: 24px;
}

.project-text {
    background-color: #F2F2F2;
    color: #050505;
    border-radius: 24px;
    padding-top: 20px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
    margin-top: 18px;
    margin-bottom: 48px;
}

.projectimages {
    max-width: 800px;
   display: flex;
  justify-content: center;
  margin: auto;
}

.accordion {
  background-color: #fFFFFF;
  color: #050505;
  border: 1px solid #050505;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active {
  background-color: #fFFFFF;
  color: #050505;
  border: 1px solid #050505;
}

.accordion:hover {
  background-color: #050505;
  color: #fFFFFF;
  border: 1px solid #050505;
}

.panel {
    font-family: "Archivo", sans-serif;
    line-height: 1.3;
  padding: 0 24px;
  background-color: #F2F2F2;
  border-radius: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 24px;
  margin-right: 24px;
}

button.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p.footer {
    font-size: 1rem;
    text-transform: uppercase;
}

.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #050505;
   color: white;
   text-align: center;
}
