body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.content {
    max-width: 1000px;
  margin: 0 auto;
}

.topsticky {
    position: sticky;
    top: 0;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-header {
    margin-bottom: 72px;
}

.big-container {
    margin-left: 12px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: semibold;
    font-size: 64px;
    margin-bottom: 8px;
    margin-left: 12px;
}

p.shortinfo {
    margin-top: 0;
    margin-left: 12px;
}

p.role {
    color: rgb(62, 62, 62);
    text-decoration: underline;
}

h2 {
    font-size: 21px;
    font-weight: 500;
}

h3 {
    margin: 0;
    font-size: 64px;
}

.logo {
  transition: transform 0.7s ease;
}

.logo:hover {
  transform: rotate(360deg);
}

a {
    cursor: pointer;
}

a.logolink {
    color: black;
    text-decoration: none;
}

button.contact {
    background-color: white;
    color: black;
}

button.contact:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
    cursor: pointer;
}

button.field:hover {
    background-color: white;
    color: black;
}

button.readmore:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

button.readmore {
    background-color: white;
    color: black;
    margin: 0;
}

button.ofestbutton:hover {
    background-color: #FFC94B;
    color: black;
}

button.ofestbutton2:hover {
    background-color: #FA3D51;
    color: black;
}

button.auntiebutton:hover {
    background-color: #fff028;
    color: black;
}

button.auntiebutton2:hover {
    background-color: #fdfad6;
    color: black;
}

button.fraktiobutton:hover {
    background-color: #ee0000;
    color: white;
}

button.hxrcbutton:hover {
    background-color: #008085;
    color: white;
}

button.hxrcbutton2:hover {
    background-color: #bf6153;
    color: white;
}

button.oranssibutton:hover {
    background-color: #f99100;
    color: white;
}

button.oranssibutton2:hover {
    background-color: #fc5e10;
    color: white;
}

button {
    font-family: "Montserrat", sans-serif;
    background-color: black;
  border: solid 1px black;
  border-radius: 37px;
  color: white;
  padding: 18px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card {
  display: flex;
  align-items: center;   /* vertically aligns items */
  gap: 48px;             /* space between image and text */
  margin-bottom: 28px;
}

.card img {
  width: auto;
  height: auto;
  border-radius: 24px;
}

.text-box {
  max-width: 500px;
}

.projectimages {
    margin-right: 24px;
}

p.footer {
    font-size: 16px;
    text-transform: uppercase;
}

.footer {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 24px;
}
